<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect all requests" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="(.*)index.html" negate="true" />
                        <add input="{REQUEST_URI}" pattern="(.*)img\/(.*)" negate="true" />
                        <add input="{REQUEST_URI}" pattern="(.*)css\/(.*)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
		<security>
  <requestFiltering removeServerHeader="true" />
</security>
    </system.webServer>
</configuration>
